{% extends "base.html" %}
{% block content %}
{%include "form_messages.html" %}

<div class="flex justify-center items-start min-h-screen px-4 pt-5 md:pt-10">
    <form method="POST" class="w-full max-w-2xl bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
    {% csrf_token %}
        <!-- Form Header -->
        <h2 class="text-2xl font-bold text-red-700 dark:text-red-400 mb-6 text-center">Add User</h2>
        {{ form.non_field_errors }}
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="email" id="email" name="email" placeholder="Email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500" required>
        </div>
        <div>
            <label for="age" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Age</label>
            <input type="number" id="age" name="age" placeholder="Age" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500" required>
        </div>
       <div>
            <label for="date_of_birth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date of Birth</label>
            <input type="date" id="date_of_birth" name="date_of_birth" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500" 
            required>
        </div>

        <!-- Buttons -->
        <div class="flex justify-between items-center mt-6">
            <a href="{% url 'user_list' %}" class="text-red-700 hover:underline text-sm">← Back to Users</a>
            <button type="submit"
                class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                Submit
            </button>
        </div>

    </form>
</div>

{% endblock content %}
